.upBar {
  display: flex;
  background: #9c8467;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upButtons {
  height: 70px;

  border: none;

  background: #9c8467;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;

  letter-spacing: 0.1em;

  color: #563619;
}
.flexButtons {
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;
}
.flexButtons > * {
  flex: 0 1 auto;
  overflow: hidden;
}
.About {
  margin-left: 10vw;
}
.Resources {
  margin-right: calc(10vw + 60px);
}
.Desktop {
  display: flex;
  flex: 1 0 0;
}
.Mobile {
  display: none;
}
@media screen and (max-width: 775px) {
  .Desktop {
    display: none;
    width: 0px;
  }
  .Mobile {
    display: flex;
  }
  .flexButtonsMobile {
    display: flex;
    flex-direction: column;
  }
  .MobileButton {
    border: none;
    width: 100vw;
    height: 50px;
    background-color: #cbb294;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.1em;

    color: #563619;
  }
  .MobileButton > * {
    display: flex;
  }
  .hamburgerMenu {
    width: 75px;
    border: none;
    background-color: #9c8467;
  }
  .grow {
    width: calc(100vw - 215px);
  }
  .hamburger {
    width: 50px;
  }
}
