.upBar {
  position: flex;
  height: 70px;

  background: #9c8467;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.quill {
  display: flex;
  margin-top: -80px;
  margin-left: 30px;
  height: 100px;

  transform: rotate(31.62deg);
}
.LogoText {
  position: absolute;
  width: 174px;
  height: 40px;
  left: 28px;
  top: 72.85px;

  font-family: Lobster Two;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;

  /* identical to box height */
  letter-spacing: 0.1em;

  color: #563619;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
