.upBarLogin {
  display: flex;
  position: fixed;
  background: #9c8467;
  height: 70px;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-evenly;
}
.longBar {
  height: 5000px;
  width: 500px;
  background-color: yellow;
}
