.upBarLogin {
  display: flex;
  position: fixed;
  background: #9c8467;
  height: 70px;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-evenly;
}
.longBar {
  z-index: -100;
  width: 95vw;
  max-width: 800px;

  position: absolute;
  top: 100px;

  background: #9c8467;
  border: 1px solid #b0b0b0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.textDivAcc {
  display: flex;
  flex-direction: column;
}
.textDivAcc > * {
  margin-top: 25px;
}
.balanceDiv {
  display: flex;
  margin-top: 30px;
  margin-left: 5%;
  width: 90%;
  height: 150px;
  background: #cbb294;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  justify-content: space-between;
}
.balanceStatus {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;

  letter-spacing: 0.1em;

  color: #563619;
  justify-content: center;
}
.pushDown {
  margin-top: 70px;
  background-color: green;
}
.moneyStatus {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.1em;

  color: #000000;
  text-shadow: 2px 0 #373737;
  justify-content: center;
}
.rowTransaction {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rowTransaction > * {
  margin-top: 30px;
}
.columnTransaction {
  display: flex;
  flex-direction: column;
}
.columnTransaction > * {
  margin-top: 5px;
}
.transactionBox {
  display: flex;
  width: 90vw;
  max-width: 350px;
  background: #cbbdac;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  flex-direction: column;
}
.transactionBox > * {
  margin-top: 10px;
}
.centreText {
  display: flex;
  justify-content: center;
}
.endFiller {
  height: 30px;
}
.centreTransaction {
  display: flex;
  justify-content: center;

  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #000000;
}
.positiveBalance {
  padding-left: 7px;
  color: green;
}
.negativeBalance {
  padding-left: 7px;
  color: red;
}
.deleteButton {
  border: none;
  background-color: #cbbdac;
  color: red;
}
.line {
  height: 1px;
  width: 80vw;
  max-width: 315px;
  background-color: #563619;
}
.myCentre {
  display: flex;
  justify-content: center;
}
.ProfileImg {
  height: 50px;
  padding-left: 5px;
}
.LogOutImg {
  height: 45px;
  padding-left: 5px;
}
.MenuButton {
  border: none;
  background: #9c8467;
}
.MobileOnly {
  display: none;
}
.AccountButton {
  height: 70px;
  width: 180px;

  border: none;
  background: #cbbdac;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  letter-spacing: 0.1em;

  color: #563619;
}
.addButton {
  height: 50px;
  border: none;
  background: #cbbdac;

  font-size: 35px;
  color: green;
}
@media screen and (max-width: 780px) {
  .MobileOnly {
    display: inline;
  }
  .DesktopOnly {
    display: none;
  }
  .profileSettings {
    display: flex;
    z-index: -90;
    width: 100vw;
    height: 70px;

    position: fixed;
    top: 70px;

    background: #c9b69e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
  }
  .littleMargin {
    margin-top: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    letter-spacing: 0.1em;

    color: #563619;
  }
}
