.upBarLogin {
  display: flex;
  position: fixed;
  background: #9c8467;
  height: 70px;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-evenly;
}
.longBar {
  height: 5000px;
  width: 500px;
  background-color: yellow;
}
.ProfileImg {
  height: 50px;
  padding-left: 5px;
}
.LogOutImg {
  height: 45px;
  padding-left: 5px;
}
.MenuButton {
  border: none;
  background: #9c8467;
}
.MobileOnly {
  display: none;
}
.LogOut {
  border: none;
  background: #9c8467;
}
@media screen and (max-width: 780px) {
  .MobileOnly {
    display: inline;
  }
  .DesktopOnly {
    display: none;
  }
}
